                    <!-- BEGIN Search Form -->
                    <li>
                        <form target="#" method="GET" class="search-form" style="background-image: url('<%= current_page.data.imageURL + "/images-flaty_theme/img/awem2015/Logo.png" %>')">


                            <span class="search-pan">
                                <button type="submit" style="height:65px">
                                </button>
                                <!-- <input type="text" name="search" placeholder="Search ..." autocomplete="off" /> -->
                            </span>
                        </form>
                    </li>
                    <!-- END Search Form -->