<tr class="table-flag-blue">
	<td>1</td>
	<td>
		<strong>Anonymous</strong> | 2015-11-24 09:00 
		<p>Who am I ?</p>
	</td>
	<td class="text-center">
		7 <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
	</td>
</tr>