


                <!-- BEGIN Main Content -->
                <div class="row">
                	<div class="col-md-12">
                		<div class="box">
                			<div class="box-title">
                				<h3><i class="fa fa-table"></i> ASK</h3>
                				<div class="box-tool">
                					<a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                					<a data-action="close" href="#"><i class="fa fa-times"></i></a>
                				</div>
                			</div>
                			<div class="box-content">
                				<div class="btn-toolbar pull-right clearfix">
                					<div class="btn-group">
                						<a class="btn btn-circle show-tooltip" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
                					</div>
                					<div class="btn-group">
                						<a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
                					</div>
                				</div>
                				<br/><br/>
                                <div class="messages-input-form">
                                    <form method="POST" action="#">
                                        <div class="input">
                                            <input type="text" name="text" placeholder="Write here..." class="form-control">
                                        </div>
                                        <div class="buttons">
                                            <a href="#"><i class="fa fa-camera"></i></a>
                                            <a href="#"><i class="fa fa-paperclip"></i></a>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-share"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <br/><br/>


            <div class="row">


                <div class="col-md-12">

                    <div class="tabbable">
                        <ul id="myTab1" class="nav nav-tabs">
                            <li class="active"><a href="#home1" data-toggle="tab"><i class="fa fa-home"></i> Ask</a></li>
                            <li><a href="#profile1" data-toggle="tab"><i class="fa fa-user"></i> Vote</a></li>
                        </ul>

                        <div id="myTabContent1" class="tab-content">
                            <div class="tab-pane fade in active" id="home1">
                                <div class="table-responsive" style="border:0">
                                    <table class="table table-advance" id="table1">
                                        <thead>
                                            <tr>
                                            <th style="width:18px">No.</th>
                                                <th>Name</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                                <th class="text-center">Engine</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-flag-blue">
                                                <td>1</td>
                                                <td>Trident</td>
                                                <td>Internet Explorer 7</td>
                                                <td>Win XP SP2+</td>
                                                <td class="text-center">7</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Trident</td>
                                                <td><a href="#">AOL browser (AOL desktop)</a></td>
                                                <td>Win XP</td>
                                                <td class="text-center">6</td>
                                            </tr>
                                            <tr class="table-flag-orange">
                                                <td>3</td>
                                                <td>Gecko</td>
                                                <td><span class="label label-success">Not Bad</span> Firefox 1.5</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Gecko</td>
                                                <td>Netscape Navigator 9</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Gecko</td>
                                                <td>Seamonkey 1.1</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.8</td>
                                                <td>Win 98+ / OSX.1+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr class="table-flag-blue">
                                                <td>7</td>
                                                <td>Trident</td>
                                                <td><span class="label label-warning">So crazy!</span> <a href="#">Internet Explorer 6</a></td>
                                                <td>Win 98+</td>
                                                <td class="text-center">6</td>
                                            </tr>
                                            <tr class="table-flag-red">
                                                <td>8</td>
                                                <td>Presto</td>
                                                <td>Opera 7.5</td>
                                                <td>Win 95+ / OSX.2+</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr class="table-flag-red">
                                                <td>9</td>
                                                <td>Presto</td>
                                                <td><span class="label label-info">It's Opera!</span> Opera 8.0</td>
                                                <td>Win 95+ / OSX.2+</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Gecko</td>
                                                <td><a href="#">Mozilla 1.0</a></td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td class="text-center">1</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.1</td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td class="text-center">1.1</td>
                                            </tr>
                                            <tr class="table-flag-blue">
                                                <td>12</td>
                                                <td>Misc</td>
                                                <td>IE Mobile</td>
                                                <td>Windows Mobile 6</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Gecko</td>
                                                <td><a href="#">Mozilla 1.2</a></td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td class="text-center">1</td>
                                            </tr>
                                            <tr class="table-flag-red">
                                                <td>14</td>
                                                <td>Presto</td>
                                                <td>Opera 7.7</td>
                                                <td>Win 95+ / OSX.2+</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.7</td>
                                                <td>Win 98+ / OSX.1+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile1">
                            
                                <div class="table-responsive" style="border:0">
                                    <table class="table table-advance" id="table2">
                                        <thead>
                                            <tr>
                                            <th style="width:18px">No.</th>
                                                <th>Name</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                                <th class="text-center">Engine</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-flag-blue">
                                                <td>1</td>
                                                <td>Trident</td>
                                                <td>Internet Explorer 7</td>
                                                <td>Win XP SP2+</td>
                                                <td class="text-center">7</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Trident</td>
                                                <td><a href="#">AOL browser (AOL desktop)</a></td>
                                                <td>Win XP</td>
                                                <td class="text-center">6</td>
                                            </tr>
                                            <tr class="table-flag-orange">
                                                <td>3</td>
                                                <td>Gecko</td>
                                                <td><span class="label label-success">Not Bad</span> Firefox 1.5</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Gecko</td>
                                                <td>Netscape Navigator 9</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Gecko</td>
                                                <td>Seamonkey 1.1</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.8</td>
                                                <td>Win 98+ / OSX.1+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                            <tr class="table-flag-blue">
                                                <td>7</td>
                                                <td>Trident</td>
                                                <td><span class="label label-warning">So crazy!</span> <a href="#">Internet Explorer 6</a></td>
                                                <td>Win 98+</td>
                                                <td class="text-center">6</td>
                                            </tr>
                                            <tr class="table-flag-red">
                                                <td>8</td>
                                                <td>Presto</td>
                                                <td>Opera 7.5</td>
                                                <td>Win 95+ / OSX.2+</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr class="table-flag-red">
                                                <td>9</td>
                                                <td>Presto</td>
                                                <td><span class="label label-info">It's Opera!</span> Opera 8.0</td>
                                                <td>Win 95+ / OSX.2+</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Gecko</td>
                                                <td><a href="#">Mozilla 1.0</a></td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td class="text-center">1</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.1</td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td class="text-center">1.1</td>
                                            </tr>
                                            <tr class="table-flag-blue">
                                                <td>12</td>
                                                <td>Misc</td>
                                                <td>IE Mobile</td>
                                                <td>Windows Mobile 6</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Gecko</td>
                                                <td><a href="#">Mozilla 1.2</a></td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td class="text-center">1</td>
                                            </tr>
                                            <tr class="table-flag-red">
                                                <td>14</td>
                                                <td>Presto</td>
                                                <td>Opera 7.7</td>
                                                <td>Win 95+ / OSX.2+</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.7</td>
                                                <td>Win 98+ / OSX.1+</td>
                                                <td class="text-center">1.8</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

                				

                			</div>
                		</div>
                	</div>
                </div>
                <!-- END Main Content -->