            <!-- BEGIN Forgot Password Form -->
            <form id="form-login" action="../Admin/" method="get">
                <h3>Join event: </h3>
                <hr/>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="# user-code" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary form-control" id="button-login">GO</button>
                    </div>
                </div>
                <hr/>
            </form>
            <!-- END Forgot Password Form -->