<li>

    <div class="mail-msg-header">
        <img src="<%= current_page.data.imageURL + "/images-flaty_theme/img/demo/avatar/avatar3.jpg" %>" alt="avatar">
        <div class="msg-sender-recver">
            <a href="#"><strong>Sarah Wiliams</strong></a>
            <br>
            <i>Climate Change Effects</i>
        </div>

        <div class="msg-collapse">
            <a href="#" class="show-tooltip" data-placement="left" data-original-title="Collapse/Uncollapse"><i class="fa fa-chevron-down"></i></a>
        </div>

        <div class="msg-options">
           <span>
            <a href="#" class="show-tooltip" data-placement="top" data-original-title="Slides">
                <i class="fa fa-file-o"></i>
            </a>
        </span>
        <br>
            <i class="fa fa-clock-o blue"> </i>&nbsp;<i>Oct 14, 12:43 PM</i>
        </div>
    </div>


    <div class="mail-msg-container" style="display:none">
        <div class="mail-msg-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper metus vitae elementum venenatis. Quisque id odio vel erat vestibulum vulputate quis eget odio. Donec tempor vulputate quam nec mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae neque eget elit vestibulum congue. Ut nec erat risus. Nulla id iaculis libero, ut tempor felis. Donec lobortis erat lorem, eget luctus libero tempus a. Proin luctus sit amet dolor at tincidunt. Aenean a convallis risus, vel eleifend sapien. Nullam est mauris, aliquam et rutrum vel, aliquet sit amet est. Nulla eu ultricies diam. Nunc tempus molestie rutrum. Aliquam gravida arcu ac tortor efficitur facilisis.</p>
        </div>

        <div class="mail-msg-footer">
            <p>Attachments <i class="gray">(3 files, 1.66 Mb)</i> <a class="pull-right" href="#">Download All</a></p>
            <ul class="mail-attachments">
                <li>
                    Project Details.pdf <i class="gray">(840 Kb)</i>
                    <span class="atch-option">
                        <a href="#">Download</a>
                        <a href="#">View</a>
                    </span>
                </li>

                <li>
                    Sample.html <i class="gray">(90 Kb)</i>
                    <span class="atch-option">
                        <a href="#">Download</a>
                        <a href="#">View</a>
                    </span>
                </li>

                <li>
                    More Detail.jpg <i class="gray">(730 Kb)</i>
                    <span class="atch-option">
                        <a href="#">Download</a>
                        <a href="#">View</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

</li>